<!-- MODAL: RIT BEWERKEN -->
<div id="modal-rit" class="modal hidden">
  <div class="modal-sheet">
    <div class="modal-handel"></div>
    <div class="modal-kop">
      <h3 class="modal-titel">Rit bewerken</h3>
    </div>
    <label class="form-lbl">Afstand (km)</label>
    <input type="number" id="rit-edit-km" class="form-input" step="0.1" min="0" />
    <label class="form-lbl">Notitie (optioneel)</label>
    <input type="text" id="rit-edit-notitie" class="form-input" placeholder="bijv. winkelen, dokter…" />
    <button id="btn-rit-edit-save" class="btn-form-primary">Opslaan</button>
  </div>
</div>
